@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
}

.login-left {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
  to bottom,
  #f8f8f8 0%,
  #f8f8f8 60%,
  #BABBD5 100%
);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 74px;
}

.mascote {
  width: 100px;
  height: auto;
}

.logo-area h1 {
  font-family: "Cherry Bomb One", system-ui;
  color: #191163;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.logo-area p {
  margin: 0;
  color: #2c1c6b;
  font-weight: 400;
  font-size: 20px;
}

.logo-area span {
  color: #9b9b9b;
  font-size: 18px;
  font-weight: 400;
}

.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content h2 {
  color: #3b2e7e;
  font-size: 55px;
  margin: 45px 0 35px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.login-form {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  margin-bottom: 30px;
}

.input-group label {
  display: block;
  color: #3b164d;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  height: 52px;
  border-radius: 28px;
  border: 1px solid #c9c9c9;
  padding: 0 18px;
  font-size: 16px;
  outline: none;
  background: white;
  font-weight: 400;
}

.input-group input:focus {
  border-color: #3b2e7e;
}

.forgot {
  width: 100%;
  text-align: center;
  color: #3b164d;
  font-size: 18px;
  margin: 0 0 80px;
    font-weight: 400;   
}

.erro {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
}

.login-form button {
  width: 210px;
  height: 52px;
  background: #2c116d;
  color: white;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
}

.login-form button:hover {
  opacity: 0.9;
}

.login-right {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.65);
}